<!DOCTYPE html>
<html>
    
    <head>
        <title>Program Finder</title>
    </head>
    
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Support",    '#' %></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class ="container">
            <div class ="center jumbotron">
                <h2>All Users</h2>
            </div>
        </div>
        
        <div class ="container">
            <div class="col-md-6 col-md-offset-3">
                <% if @users.empty? %>
                    <h2>There are currently no registered users</h2>
                <% else %>
                    <% @users.each do |c| %>
                        <li><%= link_to c.first_name, {:action => 'show', :id => c.id} %> <%= link_to c.last_name, {:action => 'show', :id => c.id} %></li>
                    <% end %>
                <% end %>
            </div>
        </div>
				<div class="container">
					<div class="center jumbotron">
						<button><%= link_to "Add User", {:action => 'new'} %></button>
					</div>
				</div>
    </body>
    
</html>