<!DOCTYPE html>
<html>
    
    <head>
        <title>Program Finder</title>
    </head>
    
    <body>
        <%= render 'layouts/header' %>
        </br>
        </br>
        
        <div class ="container">
            <div class ="center jumbotron">
                <h2>You are eligible for:</h2>
            </div>
        </div>
        
        <div class ="container">
            <div class="col-md-6 col-md-offset-3">
                <% if @programs.empty? %>
                    <h2>NOTHING</h2>
                <% else %>
                   
										<% @programs.each do |p| %>
												<li><%= p.name %>, <%= p.abbreviation %></li>
                    <% end %>
                <% end %>
            </div>
        </div>
    </body>
    
</html>
