<!DOCTYPE html>
<html>
    
    <head>
        <title>Program Finder</title>
    </head>
    
    <body>
        <%= render 'layouts/header' %>
        </br>
        </br>
        
        <div class ="container">
            <div class ="center jumbotron">
                <h2>You are eligible for:</h2>
            </div>
        </div>
        
        <div class ="container">
            <div class="col-md-8 col-md-offset-2">
                <% if @programs.empty? %>
                    <h2>NOTHING</h2>
                <% else %>
                    <div class="search-result">
					    <% @programs.each do |p| %>
    					    <h3><%= p.name %>, <%= link_to p.abbreviation, p.link %></h3>
    				    	<p><%= p.description %></p>
			            <% end %>
		            </div>
		            </br>
				    <div>
				        <button onClick="window.print();return false;">Print Results</button>
					</div>
                <% end %>
            </div>
        </div>
    </body>
    
</html>
