<!DOCTYPE html>
<html>
    
    <head>
        <title>Program Finder</title>
    </head>
    
    <body>
        <%= render 'layouts/header' %>
        </br>
        </br>
        
        <div class ="container">
            
        </div>
    </body>
    
</html>
