// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2 {
    text-align: center;
}

input, textarea, select, .uneditable-input {
    width: auto;
    margin-bottom: 10px;
    text-align: right;
}

input {
    height: auto !important;
}

centre {
    margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.search-input {
  padding: 15px;
  text-align: right;
}

.sidebar-veteran {
  margin: 0 -15px 15px;
  padding: 15px;
  background-color: #ffcc66;
  border-radius: 4px;
}

.sidebar-something {
  margin: 0 -15px 15px;
  padding: 15px;
  background-color: #cfd6d3;
  border-radius: 4px;
}

.input-restriction {
  width: 200px;
}

.footer-custom {
  // color: white;
}

// 

#help_income_show {
    height: 60px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: green;
    color: white;
    display: none;
    padding-top: 2px;
    position: absolute;
}

#help_asset_show {
    height: 60px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: green;
    color: white;
    display: none;
    padding-top: 2px;
    position: absolute;
}

#help_household_show {
    height: 60px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: green;
    color: white;
    display: none;
    padding-top: 2px;
    position: absolute;
}

#help_veteran_show {
    height: 60px;
    width: 210px;
    text-align: center;
    vertical-align:middle;
    background-color: green;
    color: white;
    display: none;
    padding-top: 2px;
    position: absolute;
}

#help_disabled_show {
    height: 80px;
    width: 210px;
    text-align: center;
    vertical-align:middle;
    background-color: green;
    color: white;
    display: none;
		padding-top: 2px;
    position: absolute;
}