// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hiddenPrograms {
	display: none;
}

#hiddenRequirements {
	display: none;
}

#hiddenUsers {
	display: none;
}

table th {
	width: 7em;
}

table td {
	width: 7em;
}