<footer class="footer-custom">
    <div class="container">
        <h4 class="footer-text">University of Pittsburgh School of Pharmacy</h3>
				<p class="footer-text">
					3501 Terrace St Pittsburgh, PA 15261
					<br>
					412-624-5240
				</p>
    </div>
</footer>